{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg mi-nav-personalizada fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="{% static 'imagenes/imagenes_propaganda/la_desp_logo.png' %}" alt="" id="logo">
            <span class="texto_marca">Supermercado La Despensa</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'panel_admin' %}">Panel Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'inventario_admin' %}">Inventario</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'estadisticas_admin' %}">Estadísticas</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'administracion_usuarios_admin' %}">Gestión de Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenido principal -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
        <h1 class="display-4 mb-4">Bienvenido</h1>
        <h2 class="text-success mb-4">{{ nombre_completo }}</h2>
        <p class="lead">Has iniciado sesión como Administrador</p>

        <!--boton inventario-->
        <a href="{% url 'inventario_admin' %}" class="btn btn-success " id="btn-crear-usuario">Gestionar Inventario</a> <br><br>

        <!--gestion de usuarios-->
        <a href="{% url 'administracion_usuarios_admin' %}" class="btn btn-success " id="btn-crear-usuario">Gestionar Usuarios</a> <br><br>
        <!--ver vistas de la pagina-->
        <a href="{% url 'index' %}" class="btn btn-success " id="btn-crear-usuario">Revisar vistas</a> <br><br>
        <!--estadisticas-->
        <a href="{% url 'estadisticas_admin' %}" class="btn btn-success " id="btn-crear-usuario">Revisar estadisticas</a><br><br>

        <!-- Botón rojo para cerrar sesión -->
        <a href="{% url 'logout' %}" class="btn btn-danger " id="btn-crear-usuario">
             Cerrar Sesión
        </a>
    </div>
</div>
<br>
<footer class="footer-custom mt-5">
    <div class="container text-center">
        <div class="py-3">
            <p class="small mb-0">&copy; 2026 La Despensa. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>