{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo usuario</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg mi-nav-personalizada fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'imagenes/imagenes_propaganda/la_desp_logo.png' %}" alt="" id="logo"> 
          <span class="texto_marca">Supermercado La Despensa</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto"> <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Productos
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'alimentos' %}">Alimentacion</a></li>
                <li><a class="dropdown-item" href="{% url 'bebestibles' %}">Bebestibles</a></li>
                <li><a class="dropdown-item" href="{% url 'aseo' %}">Aseo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'conocenos' %}">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}">Iniciar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--formulario creacion de nuevo usuario-->
    <br>
    <div class="container login-wrapper">
      <div class="login-card">
        <h2 class="login-title">Crear nuevo usuario</h2>
      
        <form id="registroForm" action="/action_page.php" method="POST" novalidate>
          <!-- Nombre -->
          <div class="mb-3">
            <label for="fname" class="form-label">Ingresa tu nombre:</label>
            <input type="text" class="form-control" id="fname" placeholder="John" name="fname">
            <div id="error-fname" class="error-msg"></div>
          </div>
        
          <!-- Apellido -->
          <div class="mb-3">
            <label for="lname" class="form-label">Ingresa tu apellido:</label>
            <input type="text" class="form-control" id="lname" placeholder="Doe" name="lname">
            <div id="error-lname" class="error-msg"></div>
          </div>

          <!-- RUT -->
          <div class="mb-3">
            <label for="rut" class="form-label">Ingresa tu rut sin puntos ni guion:</label>
            <input type="text" class="form-control" id="rut" placeholder="123456789" name="rut">
            <div id="error-rut" class="error-msg"></div>
          </div>
        
          <!-- Correo -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.cl">
            <div id="error-email" class="error-msg"></div>
          </div>

          <!-- Contraseña 1 -->
          <div class="mb-3">
            <label for="pwd1" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="pwd1" name="pswd1" placeholder="Mínimo 6 caracteres">
            <div id="error-pwd1" class="error-msg"></div>
          </div>

          <!-- Contraseña 2 (Confirmación) -->
          <div class="mb-3">
            <label for="pwd2" class="form-label">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="pwd2" name="pswd2" placeholder="Repite tu contraseña">
            <div id="error-pwd2" class="error-msg"></div>
          </div>

          <!--checkbox-->
          <div class="mb-4 form-check text-start">
            <input type="checkbox" class="form-check-input" id="remember" name="remember">
            <label class="form-check-label" for="remember" style="font-size: 0.9rem;">
                Acepto los <a href="#" style="color: #a65d2e; text-decoration: none; font-weight: 600;">términos y condiciones</a>
            </label>
            <div id="error-checkbox" class="error-msg" style="color: #dc3545; font-size: 0.8rem;"></div>
          </div>

          <!--botones-->
          <div class="d-grid justify-content-center">
            <button type="btn" class="btn btn-ingresar shadow-sm">Ingresar</button>
          </div>

          <div class="divider"></div>
        
          <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-registro btn-sm px-4">Atrás</a>
          </div>
        </form>
      </div>
    </div>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/validacionCrearCli.js' %}"></script>
</body>
</html>