{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/design.css'%}">
</head>
<body>
    <div class="topnav">
      <button class="btn_nav_bar"><a class="active" href="#home"><Strong>Home</Strong></a></button>
      <button class="btn_nav_bar"><a href="#news">News</a></button>
      <button class="btn_nav_bar"><a href="#contact">Contact</a></button>
      <button class="btn_nav_bar"><a href="#about">About</a></button>
    </div>

    <div style="padding-left:16px">
      <h2>Top Navigation Example</h2>
      <p>Some content..</p>
    </div>
</body>
</html>